body {background-color:#EEEEEC; color:#2E3436;}
h1 a {text-decoration:none; color:#4E9A06;}
h1 a:hover {text-decoration:underline;}
h4 {border: 1px solid black; border-bottom-style: none; color:#888A85; cursor:pointer; display:inline-block; font-weight:normal; margin:0.25em 3px; padding: 5px 7px 0; text-decoration:underline; line-height:1em;}
h4.active {color:#2E3436; cursor:unset; font-weight:bold; text-decoration:none;}
a {color:#2E3436;}
table {border-collapse:collapse; margin:0 auto;}
th, td {border-left:2px solid #D3D7CF; border-right:2px solid #D3D7CF; padding:0 5px 0; vertical-align:top;}
th {font-weight:bold; text-align:center;}
tr:first-child th {border-bottom:2px solid #D3D7CF; vertical-align:middle;}
tr th:first-child, tr td:first-child {border-left-style:none;}
tr th:last-child, tr td:last-child {border-right-style:none;}
tr td {padding-top:3px; padding-bottom:3px;}
tr td.star-checkbox {padding:0; text-align:center; vertical-align:middle;}
td.star-checkbox input[type="checkbox"] + span {cursor:pointer;}
td.star-checkbox input[type="checkbox"] + span:before {content:"☆";}
td.star-checkbox input[type="checkbox"]:checked + span:before {content:"★";}
td.star-checkbox input[type="checkbox"] {display:none;}
abbr {cursor:help;}
a abbr {cursor:pointer;}

body > div {text-align:center;}
#tagline {font-style:italic; margin-top:-1em;}
.large {font-size:x-large;}
#searchbar {margin:auto; width:80%; max-width:40em;}
#options {margin-top:0.5em;}
#advanced-toggle {cursor:pointer; margin-bottom:0; text-decoration:underline;}
#advanced-search {display:none; line-height:1.5em;}
#tab-list {display:none; text-align:left;}
.tab-content {display:none;}
.number {width:4em;}
.course-listing {margin-top:7px; text-align:left; width:100%;}
.course-listing tbody.data:hover tr {background-color:#D3D7CF;}
.course-listing tbody.data:hover tr td {border-color:#BABDB6;}
.course-listing tbody tr.description td {border-style:none; padding-left:1em;}
.course-listing .more-info {cursor:pointer; font-family:monospace;}
#starred-courses-calendar {margin-top:2em; display:flex; justify-content:center;}
#starred-courses-calendar > div.time-column {width:5%;}
#starred-courses-calendar > div.day-column {width:10%;}
#starred-courses-calendar > div > div:first-child {height:30px;}
#starred-courses-calendar > div > div {height:60px;}
#starred-courses-calendar div.header {align-items:center; display:flex; justify-content:center; border:dotted 1px transparent;}
#starred-courses-calendar div.grid {border:dotted 1px #808080; position:relative;}
#starred-courses-calendar div.meeting {background-color:#EEEEEC; border:solid 1px #000000; font-size:smaller; overflow:hidden; position:absolute; z-index:2;}
#json-api-doc {margin:auto auto; width:80ex; max-width:95%; text-align:left;}
#footer {font-size:small; margin:2em auto 0;}
