body {background-color:#EEEEEC; color:#2E3436;}
h1 a {text-decoration:none; color:#4E9A06;}
h1 a:hover {text-decoration:underline;}
a {color:#2E3436;}
table {border-collapse:collapse; margin:0 auto;}
th, td {border-left:2px solid #D3D7CF; border-right:2px solid #D3D7CF; padding:0 5px 0; vertical-align:top;}
th {font-weight:bold; text-align:center;}
tr:first-child th {border-bottom:2px solid #D3D7CF;}
tr th:first-child, tr td:first-child {border-left-style:none;}
tr th:last-child, tr td:last-child {border-right-style:none;}
tr td {padding-top:3px; padding-bottom:3px;}
abbr {cursor:help;}
a abbr {cursor:pointer;}

body > div {margin-top:1em; text-align:center;}
#tagline {font-style:italic; margin-top:-1em;}
.large {font-size:x-large;}
#searchbar {margin:auto; width:80%; max-width:40em;}
#options {margin-top:0.5em;}
#advanced-toggle {cursor:pointer; margin-bottom:0; text-decoration:underline;}
#advanced-search {display:none; line-height:1.5em;}
.number {width:4em;}
#course-listing {margin-top:2em;}
#course-table {width:100%;}
#course-table tbody {text-align:left;}
#course-table tbody.separator {display:none;}
#course-table tbody:hover tr {background-color:#D3D7CF;}
#course-table tbody:hover tr td {border-color:#BABDB6;}
#course-table tbody tr.description td {border-style:none; padding-left:1em;}
#course-table .more-info {cursor:pointer; font-family:monospace;}
#footer {font-size:small; margin:1em auto 0;}
