<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subitize - Course Counts at a Glance</title>
    <style>
        body {background-color:#EEEEEC; color:#2E3436;}
        h1 a {text-decoration:none; color:#4E9A06;}
        h1 a:hover {text-decoration:underline;}
        a {color:#2E3436;}
        table {border-collapse:collapse; margin:0 auto;}
        th, td {border-left:2px solid #D3D7CF; border-right:2px solid #D3D7CF; padding:0 5px 0; vertical-align:top;}
        th {font-weight:bold; text-align:center;}
        tr:first-child th {border-bottom:2px solid #D3D7CF;}
        tr th:first-child, tr td:first-child {border-left-style:none;}
        tr th:last-child, tr td:last-child {border-right-style:none;}
        tr td {padding-top:3px; padding-bottom:3px;}

        body > div {margin-top:1em; text-align:center;}
        #tagline {font-style:italic; margin-top:-1em;}
        .large {font-size:x-large;}
        #searchbar {margin:auto; width:80%; max-width:40em;}
        #options {margin-top:0.5em;}
        #advanced-toggle {cursor:pointer; margin-bottom:0; text-decoration:underline;}
        #advanced-search {display:none; line-height:1.5em;}
        .number {width:4em;}
        #results {margin-top:2em;}
        #results-table {width:100%;}
        #results-table td {text-align:left;}
        #disclaimer {font-size:small; margin:1em auto 0;}
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script> 
    <script>
function query_focus_handler() {
    "use strict";
    var searchbar = $('#searchbar');
    if (searchbar.val() === 'search for courses...') {
        searchbar.val('');
        searchbar.css('color', '#000000');
    }
}

function query_blur_handler() {
    "use strict";
    var searchbar = $('#searchbar');
    if (searchbar.val() === '') {
        searchbar.val('search for courses...');
        searchbar.css('color', '#BABDB6');
    }
}

function toggle_advanced_search() {
    "use strict";
    var toggle = $('#advanced-toggle');
    var state = $('#advanced-state');
    var div = $('#advanced-search');
    if (state.val() === 'True') {
        div.css('display', 'none');
        toggle.html('More Options');
        state.val('False');
    } else {
        div.css('display', 'block');
        toggle.html('Fewer Options');
        state.val('True');
    }
}

$(document).ready(function() {
    "use strict";
    var state = $('#advanced-state');
    if (state.val() === 'True') {
        state.val('False');
    } else {
        state.val('True');
    }
    toggle_advanced_search();
});
    </script>
</head>
<body>
    <div>
        <h1><a href="/">Subitize</a></h1>
        <p id="tagline">[SOO-bee-tahyz] (v.) - to rapidly, accurately, and confidently perceive the number of objects without counting</p>
    </div>
    <div>
        <form action="/simplify" method="get">
            {% if defaults.query == 'search for courses...' %}
            <input id="searchbar" class="large" type="text" name="query" value="search for courses..." onfocus="query_focus_handler();" onblur="query_blur_handler();" style="color:#BABDB6;">
            {% else %}
            <input id="searchbar" class="large" type="text" name="query" value="{{ defaults.query }}" onfocus="query_focus_handler();" onblur="query_blur_handler();" style="color:#000000;">
            {% endif %}
            <input class="large" type="submit" value="Search"><br>
            <div id="options">
                Semester:
                <select name="semester">
                    <option value="any">(any)</option>
                    {% for s in semesters %}
                    <option value="{{ s.code }}" {% if defaults.semester == s.code %}selected{% endif %}>{{ s }}</option>
                    {% endfor %}
                </select>
                &nbsp;&nbsp;&nbsp;
                <label><input type="checkbox" name="open" {% if defaults.open %}checked{% endif %}>Open courses only</input></label>
                &nbsp;&nbsp;&nbsp;
                <span id="advanced-toggle" onclick="toggle_advanced_search();">More Options</span>
                &nbsp;&nbsp;&nbsp;
                <button type="button" onclick="location.href='/';">Reset</button>
                <input type="hidden" id="advanced-state" name="advanced" value="{{ advanced }}">
            </div>
            <div id="advanced-search">
                Instructor:
                <select name="instructor">
                    <option value="">(any)</option>
                    {% for f in instructors %}
                    <option value="{{ f.alias }}" {% if defaults.instructor == f.alias %}selected{% endif %}>{{ f }}</option>
                    {% endfor %}
                </select>
                &nbsp;&nbsp;&nbsp;
                Core:
                <select name="core">
                    <option value="">(any)</option>
                    {% for c in cores %}
                    <option value="{{ c.code }}" {% if defaults.core == c.code %}selected{% endif %}>{{ c.name }}</option>
                    {% endfor %}
                </select>
                &nbsp;&nbsp;&nbsp;
                Units:
                <select name="units">
                    <option value="">(any)</option>
                    {% for unit in units %}
                    <option value="{{ unit }}" {% if defaults.units == unit %}selected{% endif %}>{{ unit }}</option>
                    {% endfor %}
                </select>
                <br>
                Department:
                <select name="department">
                    <option value="">(any)</option>
                    {% for d in departments %}
                    <option value="{{ d.code }}" {% if defaults.department == d.code %}selected{% endif %}>{{ d.name }}</option>
                    {% endfor %}
                </select>
                &nbsp;&nbsp;&nbsp;
                Number (min): <input class="number" type="number" name="lower" value="{{ lower }}">
                &nbsp;&nbsp;&nbsp;
                Number (max): <input class="number" type="number" name="upper" value="{{ upper }}">
                <br>
                Meets on:
                <select name="day">
                    <option value="">(any)</option>
                    {% for day in days %}
                    <option value="{{ day.abbr }}" {% if defaults.day == day.abbr %}selected{% endif %}>{{ day.name }}</option>
                    {% endfor %}
                </select>
                &nbsp;&nbsp;&nbsp;
                Starts After:
                <select name="start_hour">
                    {% for hour in start_hours %}
                    <option value="{{ hour }}" {% if defaults.start_hour == hour %}selected{% endif %}>{{ hour }}</option>
                    {% endfor %}
                </select>
                &nbsp;&nbsp;&nbsp;
                Ends Before:
                <select name="end_hour">
                    {% for hour in end_hours %}
                    <option value="{{ hour }}" {% if defaults.end_hour == hour %}selected{% endif %}>{{ hour }}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
    </div>
    <div id="results">
        {% if results is none %}
        {% elif not results %}
        <h3>No courses found.</h3>
        {% else %}
        <table id="results-table">
            <tr>
                <th><a href="{{ url }}&sort=semester">Semester</a></th>
                <th><a href="{{ url }}&sort=course">Course (Section)</a></th>
                <th><a href="{{ url }}&sort=title">Title</a></th>
                <th><a href="{{ url }}&sort=units">Units</a></th>
                <th><a href="{{ url }}&sort=instructors">Instructor(s)</a></th>
                <th><a href="{{ url }}&sort=meetings">Meeting Times (Room)</a></th>
                <th><a href="{{ url }}&sort=cores">Core</a></th>
                <th>Seats</th>
            </tr>
            {% for offering in results %}
            <tr>
                <td>
                    <a href="{{ base_url }}?advanced={{ parameters['advanced'] }}&semester={{ offering.semester.code }}">
                        {{ offering.semester }}
                    </a>
                </td>
                <td>
                    <a href="{{ base_url }}?advanced=True&semester={{ parameters['semester'] }}&department={{ offering.course.department.code }}"><abbr title="{{ offering.course.department.name }}">{{ offering.course.department.code }}</abbr></a>
                    {{ offering.course.number }} ({{ offering.section }})
                </td>
                <td>{{ offering.title }}</td>
                <td>{{ offering.units }}</td>
                <td>
                    {% if offering.instructors %}
                    {% for instructor in offering.instructors %}
                    <a href="{{ base_url }}?advanced=True&semester={{ parameters['semester'] }}&instructor={{ instructor.alias }}"><abbr title="{{ instructor.first_last }}">{{ instructor.last_name }}</abbr></a>
                    {% if not loop.last %};{% endif %}
                    {% endfor %}
                    {% else %}
                    Unassigned
                    {% endif %}
                </td>
                <td>
                    {% if offering.meetings %}
                    {% for meeting in offering.meetings %}
                    {% if meeting.timeslot is none %}
                    Time TBD
                    {% else %}
                    {{ meeting.us_start_time }} - {{ meeting.us_end_time }}
                    <abbr title="{{ meeting.weekdays_names }}">{{ meeting.weekdays }}</abbr>
                    {% endif %}
                    {%- if meeting.room is none -%}
                    (Location TBD)
                    {% else %}
                    (<abbr title="{{ meeting.room.building.name }}">{{ meeting.room.building.code }}</abbr> {{ meeting.room.room }})
                    {%- endif -%}
                    {% if not loop.last %};{% endif %}
                    {% endfor %}
                    {% else %}
                    Time TBD (Location TBD) 
                    {% endif %}
                </td>
                <td>
                    {% for core in offering.cores %}
                    <a href="{{ base_url }}?advanced=True&semester={{ parameters['semester'] }}&core={{ core.code }}"><abbr title="{{ core.name }}">{{ core.code }}</abbr>{% if not loop.last %};{% endif %}</a>
                    {% endfor %}
                </td>
                <td>
                    {% if offering.num_reserved != 0 %}
                    <abbr title="Enrolled: {{ offering.num_enrolled }}/{{ offering.num_seats }}&#13;Reserved Remaining: {{ offering.num_reserved_open }}/{{ offering.num_reserved }}&#13;Waitlisted: {{ offering.num_waitlisted }}">
                    {{ offering.num_enrolled }}/{{ offering.num_seats }} [{{ offering.num_waitlisted }}]
                    </abbr>
                    {% else %}
                    <abbr title="Enrolled: {{ offering.num_enrolled }}/{{ offering.num_seats }}&#13;Waitlisted: {{ offering.num_waitlisted }}">
                    {{ offering.num_enrolled }}/{{ offering.num_seats }} [{{ offering.num_waitlisted }}]
                    </abbr>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
    <div>
        <a href="https://github.com/justinnhli/subitize">Code</a> &copy; <a href="http://justinnhli.com">Justin Li</a>, <a href="http://creativecommons.org/licenses/by-sa/4.0/deed.en_US" rel="license">CC-BY-SA</a>.
        <p id="disclaimer">
            Information on this site may be out of date;<br>
            check <a href="https://counts.oxy.edu/">Course Counts</a> for the most current information.
        </p>
    </div>
</body>
</html>
