<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subitize - Course Counts at a Glance</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/js/main.js"></script>
</head>
<body>
    <div>
        <h1><a href="/">Subitize</a></h1>
        <p id="tagline">[SOO-bee-tahyz] (v.) - to rapidly, accurately, and confidently perceive the number of objects without counting</p>
    </div>
    <div>
        <form id="search-form">
            {% if defaults.query == 'search for courses...' %}
            <input id="searchbar" class="large" type="text" name="query" value="search for courses..." style="color:#BABDB6;">
            {% else %}
            <input id="searchbar" class="large" type="text" name="query" value="{{ defaults.query }}" style="color:#000000;">
            {% endif %}
            <button id="search-button" class="large">Search</button><br>
            <div id="options">
                Semester:
                <select name="semester">
                    <option value="any">(any)</option>
                    {% for s in semesters %}
                    <option value="{{ s.code }}" {% if defaults.semester == s.code %}selected{% endif %}>{{ s }}</option>
                    {% endfor %}
                </select>
                &nbsp;&nbsp;&nbsp;
                <label><input type="checkbox" name="open" {% if defaults.open %}checked{% endif %}>Open courses only</input></label>
                &nbsp;&nbsp;&nbsp;
                <span id="advanced-toggle">Show Options</span>
                &nbsp;&nbsp;&nbsp;
                <button type="button" onclick="location.href='/';">Reset</button>
                <input type="hidden" id="advanced-state" name="advanced" value="{{ advanced }}">
            </div>
            <div id="advanced-search">
                Instructor:
                <select name="instructor">
                    <option value="">(any)</option>
                    {% for f in instructors %}
                    <option value="{{ f.system_name }}" {% if defaults.instructor == f.system_name %}selected{% endif %}>{{ f }}</option>
                    {% endfor %}
                </select>
                &nbsp;&nbsp;&nbsp;
                Core:
                <select name="core">
                    <option value="">(any)</option>
                    {% for c in cores %}
                    <option value="{{ c.code }}" {% if defaults.core == c.code %}selected{% endif %}>{{ c.name }}</option>
                    {% endfor %}
                </select>
                &nbsp;&nbsp;&nbsp;
                Units:
                <select name="units">
                    <option value="">(any)</option>
                    {% for unit in units %}
                    <option value="{{ unit }}" {% if defaults.units == unit %}selected{% endif %}>{{ unit }}</option>
                    {% endfor %}
                </select>
                <br>
                Department:
                <select name="department">
                    <option value="">(any)</option>
                    {% for d in departments %}
                    <option value="{{ d.code }}" {% if defaults.department == d.code %}selected{% endif %}>{{ d.name }}</option>
                    {% endfor %}
                </select>
                &nbsp;&nbsp;&nbsp;
                Number (min): <input class="number" type="number" name="lower" value="{{ lower }}">
                &nbsp;&nbsp;&nbsp;
                Number (max): <input class="number" type="number" name="upper" value="{{ upper }}">
                <br>
                Meets on:
                <select name="day">
                    <option value="">(any)</option>
                    {% for day in days %}
                    <option value="{{ day.abbr }}" {% if defaults.day == day.abbr %}selected{% endif %}>{{ day.name }}</option>
                    {% endfor %}
                </select>
                &nbsp;&nbsp;&nbsp;
                Starts After:
                <select name="start_hour">
                    {% for hour in start_hours %}
                    <option value="{{ hour.value }}" {% if defaults.start_hour == hour.value %}selected{% endif %}>{{ hour.display }}</option>
                    {% endfor %}
                </select>
                &nbsp;&nbsp;&nbsp;
                Ends Before:
                <select name="end_hour">
                    {% for hour in end_hours %}
                    <option value="{{ hour.value }}" {% if defaults.end_hour == hour.value %}selected{% endif %}>{{ hour.display }}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
    </div>
    <div id="results"></div>
    <div id="footer">
        <p>
            <span>
                Data &copy; <a href="http://oxy.edu/">Occidental College</a>
                |
                <a href="https://github.com/justinnhli/subitize">Code</a> &copy; <a href="http://justinnhli.com">Justin Li</a>, <a href="http://creativecommons.org/licenses/by-sa/4.0/deed.en_US" rel="license">CC-BY-SA</a>
                |
                <a href="https://github.com/justinnhli/subitize/issues/new">Report issues</a>
            </span>
            <br>
            <span>Database last updated {{ last_update }} and may contain errors.</span>
            <br>
            <span>Check <a href="https://counts.oxy.edu/">Course Counts</a> and the <a href="http://oxy.smartcatalogiq.com/">course catalog</a> for the most current information.</span>
        </p>
    </div>
</body>
</html>
